@using btMVC3.Models;
@model List<SanPham>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xem</title>
    <link href="~/CSS/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <a href="~/CuaHang/Them" class="btn btn-success">Thêm sản phẩm</a>
        <div class="row">
            @foreach (var item in Model)
            { <div class="col-md-4">
                <div class="card">
                    <img src="~/hinh/@item.Hinh" alt="O day co hinh" />
                    <div class="card-body">
                        <h4 class="card-title"><a href="~/CuaHang/Chitiet?ma=@item.Ma">@item.Ten</a></h4>
                        <p class="card-text">@item.Giaban</p>
                        <a href="" class="btn btn-primary">Mua</a>
                        <a href="~/CuaHang/Xoa?ma=@item.Ma" class="btn btn-primary" id="btnXoa">Xóa</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>


</body>
</html>
